.list {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: 1rem;
    border-bottom: 1px solid #DDDDDD;
    grid-template-rows: min-content 1fr;
    position: relative;
    min-height: 60px;
    line-height: 60px;
    cursor: pointer;
    align-content: center;
}

.list:hover {
    background: #EEEEEE;
}

.listDate {
    color: #888888;
}

.editIcon {
    z-index: 100;
}

.text {
    grid-column-start: 1;
    grid-column-end: 4;
    display: block;
}
